#file modificati creati in locale automaticamente dal software che uso (TexStudio)
raccolta es moderna.aux
raccolta es moderna.log
raccolta es moderna.out
raccolta es moderna.pdf
raccolta es moderna.synctex.gz
raccolta es moderna.toc
